header {
    background-color: rgb(69, 53, 193);
    color: rgb(230, 255, 247);
    padding: 15px 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  nav a {
    color: rgb(230, 255, 247);
    margin: 0 15px;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  